body {

background-image: -webkit-gradient(linear, left top, left bottom,
	color-stop(0%, rgba(5, 117, 230, 0.5)),color-stop(60%, rgba(2, 27, 121, 0))),
	url('/image/bg-kmitl.jpg');
background-size: 140% 140%;
width: 100%;
height: 100%;
overflow: hidden;

background-position: 100% 100%;


}

.bg-img {
  width: 100%;
  height: 100%;
  background: url('http://unsplash.it/1200x800') center center no-repeat;
  background-size: cover;

  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
  }
}

.bg-img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('/image/bg-kmitl.jpg') no-repeat center center fixed;
	opacity: 0.05;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.btn-login {
	background-image: linear-gradient(to right, #E040FB, #00BCD4);
	background-size: 150% 150%;
	height: 40px;
	width: 200px;
	border-radius: 5px;
	z-index: -1;
	transition: all 0.4s ease;
	background-position: 100% 100%;

	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	overflow: hidden;
	color: #fff;
	border: 0;
}
.btn-login:hover {
	-webkit-animation: gradient 3s ease infinite;
-moz-animation: gradient 3s ease infinite;
animation: gradient 3s ease infinite;
color: #fff;

}

@-webkit-keyframes gradient {
	0% {
		background-position: 10% 50%;
	}
	50% {
		background-position: 60% 50%;
	}
	100% {
		background-position: 10% 50%;
	}
}

@-moz-keyframes gradient {
	0% {
		background-position: 10% 50%;
	}
	50% {
		background-position: 60% 50%;
	}
	100% {
		background-position: 10% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 10% 50%;
	}
	50% {
		background-position: 60% 50%;
	}
	100% {
		background-position: 10% 50%;
	}
}

input[type=password]{
	background: #fff;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 5px;
	color: #666;
}

input[type=email]{
	background: #fff;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 5px;
	color: #666;
}


.btn-login2 {
	background: rgba(0, 0, 0,0);
	height: 40px;
	width: 200px;
	border-radius: 5px;
	z-index: -1;
	background-position: 100% 100%;

	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.2em;
	overflow: hidden;
	color: #fff;
	border: 0;

	border-width: 3px;
border-style: solid;

}
